body{
  background-color: black;
}

*{
  margin: 0;
  padding: 0;
  }

.bgcolor1{
    color:white;
}
.bgcolor2{
    color:yellow;
}
.bgcolor3{
    color:black;
}

.color1{

  background-color: white;
}
.color2{

  background-color: yellow;
}
.color3{
    
  background-color:black;
}
.logo1{
    filter: invert(100%) sepia(6%) saturate(7500%) hue-rotate(193deg) brightness(108%) contrast(105%);
}
.logo2{
      filter: invert(80%) sepia(78%) saturate(539%) hue-rotate(5deg) brightness(106%) contrast(106%);
}
.logo3{
    filter: invert(0%) sepia(83%) saturate(7500%) hue-rotate(46deg) brightness(108%) contrast(114%);
}



P{
font-family:sans-serif;
font-size: 13px;
/* color: white; */
}

/* <!-- hamburger work start from here --> */
.bar{
  display: block;
  transition: 0.3s ease;
}
#bar1{
  transform: translateY(-4px);
}
#bar3{
  transform: translateY(4px);
}
.nav li a:hover{
  border: 1px solid white;
}
.nav li{
  list-style: none;
  
}

.icon .bar{
  background-color: white;
}
.icon #bar1{
  transform: translateY(10px) rotate(-45deg);
  background-color: black;

}
.icon #bar3{
  transform: translateY(-9px) rotate(45deg);
  background-color: black;
  
}
.icon #bar2{
  opacity: 0;
}
.nav{
  padding: 0;
  margin: 0 20px;
  transition: 1s ease;
  display: none;
  
  
}
li{
  inline-size: -40px;
 margin-top: 120PX;
 margin-left: 20px;
}

li>a{
  font-size: 10px;
  text-decoration: none;
  color: black;
  padding: 0;
  
}
.change{
  background-color:whitesmoke;
  height: 100vh;
  margin: 0;
  position: absolute;
  font-size: 30px;
  top: 0;
  z-index: -100;
  width: 28%;
  display: flex;
  flex-direction: column;
}




















/* navbar */

#navbar{
width: 100%;
height:100px;
display: flex;
justify-content: space-between;
/* border: 1px solid black; */
position: absolute;
position: fixed;

}
#hamburger{
width:35px;
height:30px;
margin-left: 20px;
margin-top: 20px;

/* border: 1px solid red;  */
}
#bar1{
height: 1.5px;
width:50%;

margin-bottom: 8px;
border-radius: 10px;
}
#bar2{
height: 1.5px;
width:50%;

margin-bottom: 8px;
border-radius: 10px;
}
#bar3{
height: 1.5px;
width:50%;
margin-bottom: 8px;
border-radius: 10px;
}
#zaralogo{
width:15vw;
/* border: 1px solid red; */
margin-right: 300px;
}
#zaralogo>img{
width: 95%;
/* filter: grayscale(1) invert(1); */
margin-top: 10px;
z-index: 1000;
}

#navitem{
display: flex;
width: 10%;
/* border: 1px solid red; */
justify-content :space-between;
margin-right: 30px;
margin-top: 10px;
}
#search{
margin-left: 350px;
font-weight: bold;
margin-top: 10px;
}

/* image1 */

#imagebox{
width:100%;
}
#imagebox>img{
width:100%;
}

#manbtn{
    position: absolute;
    right: 20px;
    top:360px;
    border: none;
    text-align: center;
    background-color: transparent;
    color: whitesmoke;
    font: weight 25px;;
    
}


#arrow{
  font-size: 40px;
  font: weight 25px;
  position: relative;
  top: 10px;
}
/* women video */
#vidbox{
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}
#womenvid{
width: 100%;
margin-top: -5px;
z-index: -102;
}
#sale>h1{
color: yellow;
font-size: 160px;
font-family: sans-serif;
margin-top: 300px;
}
#sale{
position:absolute;
z-index: -101;

}
#sale>p{
text-align: center;
font-size: 25px;
position: relative;
bottom: 100px;
color: white;

}
#sale>h1{
letter-spacing: 20px;
margin-bottom:100px ;
}
#sale>p+p{
word-spacing: 50px;
font-size: 12px;
color: yellow;
position: relative;
bottom: -40px;
}

#manbtn1{
  position: absolute;
  right: 20px;
  /* top:360px; */
  text-align: center;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font: weight 25px;;
  
}


#arrow1{
font-size: 40px;
font: weight 25px;
position: relative;
top: 10px;
}
/* plane */

#lower{
display: flex;
justify-content: center;
align-items: center;
}
#plane{
width: 100%;
z-index: -102;
/* border: 1px solid red; */
}

#white{
  width: 100%;
/* border: 1px solid teal; */

}
#textcenter{
position: absolute;
}
#textcenter>p{
color:black;
}
#textcenter>p:nth-child(1){
text-align: center;
font-size: 14px; 
}
#textcenter>p:nth-child(2){
word-spacing:30px ;
font-size: 10px;
position: relative;
bottom: -100px; 
}
#bottomtext>p{
color: black;
font-size: 10px;
position: relative;
right:350px;
top: 250px;
line-height: 15px;
z-index: -101;
}

